div.aboutbox{
	background-color: white;
    width: 800px;
    height: 6600px;
    padding: 15px;
    border: 5px solid white;
    margin-left: 200px;
    margin-top: 5px;
 }
div.headstyle{
	font-size: 30px;
	color: black;
	display: inline;
	font-weight: normal;
}
